{% extends "base.html" %}
{% block content %}

<h2 class="my-4">Finalizare comanda</h2>

{% if items %}
<div class="row">
    <div class="col-md-6">
    <h4>Produsele tale:</h4>
    <ul class="list-gropup mb-3">
        {% for item in items %}
        <li class="list-group-item d-flex justify-content-between">
            <span class="product-title"> {{ item.name }} (x {{item.qty }})</span>
            <strong> {{ item.subtotal }} Lei</strong>
        </li> 
        {% endfor %}
        <li class="list-gropup-item d-flex justify-content-between">
            <strong>Total</strong>
            <strong>{{ total }} Lei</strong>
        </li>
    </ul>
</div>

<div class="col-md-6">
    <form method="POST" action="{{ url_for('checkout' ) }}">
        <div class="mb-3">
            <label for="full_name" class="form-label">Nume complet</label>
            <input type="text" class="form-control" id="full_name" name="full_name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefon</label>
            <input type="tel" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Adresa completa</label>
            <textarea class="form-control" id="address" name="address" row="3" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Metoda de plata</label><br>
            <select class="form-select" name="payment_method" required>
                <option value="card">Card</option>
                <option value="Plata la livrare">Plata la livrare</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary w-100">Trimite comanda</button>
    </form>
</div>
</div>
{% else %}
<p>Cosul tau este gol.Adauga produse inainte de a finaliza comanda</p>
{% endif %}
{% endblock %}
<!--de adaugat success order-->
