{% extends "base.html" %}

{% block content %}
<h2 class="my-4">Contact</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white">Pentru diferite informatii ne puteti contacta folosind urmatoarele informatii</div>
            <div class="card-body">
                <p><strong>Email:</strong>osm@gmail.com</p>
                <p><strong>Telefon:</strong>0751332078</p>
                <p><strong>Adresa:</strong>Str.Elevului, Bucuresti,Romania</p>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card border-warning mb-3">
        <div class="card-header bg-warning text-dark">Program</div>
        <div class="card-body">
            <p><strong>Luni-Sambata:08:00-21:00</strong></p>
            <p><strong>Duminica:Inchis</strong></p>
        </div>
    </div>
</div>

<hr>
<h4>Trimite mesaj:</h4>
<form>
    <div class="mb-3">
        <label for="nume" class="form-label">Nume</label>
        <input type="text" class="form-control" id="nume" placeholder="Numele tau">

    </div>
    <div class="mb-3">
        <label for="mesaj" class="form-label">Mesajul tau</label>
        <textarea class="form-control" id="mesaj" rows="10" placeholder="Mesaj">
        </textarea>

    </div>
    <button type="submit" class="btn btn-outline-primary" style="background-color: aliceblue">Trimite</button>
</form>
{% endblock %}